<h1>Listing caresheets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Scientific name</th>
    <th>Permalink</th>
    <th>Body</th>
  </tr>

<% for caresheet in @caresheets %>
  <tr>
    <td><%=h caresheet.name %></td>
    <td><%=h caresheet.scientific_name %></td>
    <td><%=h caresheet.permalink %></td>
    <td><%=h caresheet.body %></td>
    <td><%= link_to 'Show', [:admin, caresheet] %></td>
    <td><%= link_to 'Edit', edit_admin_caresheet_path(caresheet) %></td>
    <td><%= link_to 'Destroy', [:admin, caresheet], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New caresheet', new_admin_caresheet_path %>
