<p>
  <b>Name:</b>
  <%=h @caresheet.name %>
</p>

<p>
  <b>Scientific name:</b>
  <%=h @caresheet.scientific_name %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @caresheet.permalink %>
</p>

<p>
  <b>Body:</b>
  <%=h @caresheet.body %>
</p>


<%= link_to 'Edit', edit_admin_caresheet_path(@caresheet) %> |
<%= link_to 'Back', admin_caresheets_path %>
