<%= f.error_messages %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'text_field' %>
</p>

<p>
  <%= f.label :url %>
  <%= f.text_field :url, :class => 'text_field' %>
</p>

<!-- <p>
  <%= f.label :post_at %>
  <%= f.text_field :post_at, :class => 'text_field' %>
</p> -->