<tr class="<%= cycle('even','odd') %>">
  <td class="center"><%= crop.image.name %></th>
  <td class="center"><%=h crop.crop_definition.name %></td>
  <td class="center"><%=h crop.x %></td>
  <td class="center"><%=h crop.y %></td>
  <td class="center"><%=h crop.width %></td>
  <td class="center"><%=h crop.height %></td>
  <td class="center">
    <%= link_to 'Show', [:admin, @parents, crop] %> | 
    <%= link_to 'Edit', [:edit, :admin, @parents, crop] %> | 
    <%= link_to 'Delete', [:admin, @parents, crop], :confirm => 'Are you sure?', :method => :delete %>
  </td>
</tr>