<%= f.error_messages %>

<p>
  <%= f.label :x %>
  <%= f.text_field :x %>
</p>
<p>
  <%= f.label :y %>
  <%= f.text_field :y %>
</p>
<p>
  <%= f.label :width %>
  <%= f.text_field :width %>
</p>
<p>
  <%= f.label :height %>
  <%= f.text_field :height %>
</p>
<%= f.hidden_field :image_id %>
