<% form_tag session_path do -%>
  <fieldset>
    <p><%= label_tag 'login' %></p>
    <p><%= text_field_tag 'login', @login, :class => 'text_field' %></p>

    <p><%= label_tag 'password' %></p>
    <p><%= password_field_tag 'password', nil, :class => 'text_field' %></p>

    <p><%= submit_tag 'Log in', :class => 'submit' %></p>
  </fieldset>
<% end -%>
