<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price Ea</th>
      <th>Total</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'cart_item', :collection => @order.line_items %>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td class="center total"><strong>Sub-total:</strong></td>
      <td class="center total"><%= number_to_currency(@order.sub_total) %></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td class="center total"><strong>Estimated shipping:</strong></td>
      <td class="center total"><%= number_to_currency(@order.shipping_cost) %></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td class="center total"><strong>Total:</strong></td>
      <td class="center total"><%= number_to_currency(@order.total) %></td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
      <td class="center">
        <%= link_to "Checkout", cart_checkout_path, :rel => 'facebox', :id => 'checkout' %>
      </td>
    </tr>
  </tbody>
</table>