<ul id="announcement_tabs">
  <%- @featured_announcements.each_with_index do |announcement, index| -%>
    <li class="jquery_tab"><%= link_to content_tag(:span, announcement.title_short), "#announcement_#{index}" %></li>
  <%- end -%>
  <li><%= link_to 'View all...', announcements_path %></li>
</ul>
<%- @featured_announcements.each_with_index do |announcement, index| -%>
  <div class="featured" id="announcement_<%= index %>">
    <%- if announcement.has_image? -%>
      <p class="image"><%= link_to(image_tag(announcement_image_path(announcement, '100x100', :jpg), :alt => announcement.title_short), announcement_path(announcement)) %></p>
    <%- end -%>
    <%= announcement.body_short %>
    <p class="read_more"><%= link_to 'Read more...', announcement_path(announcement) %></p>
  </div>
<%- end -%>