<div class="featured">
  <p class="image">
    <%= link_to(image_tag(product_image_path(@featured_product, '160x160', :jpg)), product_path(@featured_product)) %>
    <span><%= link_to 'More info', product_path(@featured_product) %></span>
  </p>
  <h3><%= @featured_product.name %></h3>
  <%= textilize(@featured_product.description) %>
  <p class="more_info"><%= link_to 'More info', product_path(@featured_product) %></p>
</div>
