<%= f.error_messages %>

<p>
  <%= f.label :title_short, 'Title' %><br />
  <%= f.text_field :title_short %>
</p>
<p>
  <%= f.label :body_short, 'Summary' %><br />
  <%= f.text_area :body_short %>
</p>
<p>
  <%= f.label :title_long, 'Headline' %><br />
  <%= f.text_field :title_long %>
</p>
<p>
  <%= f.label :body_long, 'Extended story' %><br />
  <%= f.text_area :body_long %>
</p>
<p>
  <%= f.label :is_featured, 'Show on homepage' %><br />
  <%= f.check_box :is_featured %>
</p>
<p>
  <%= f.label :is_active, 'Active' %><br />
  <%= f.check_box :is_active %>
</p>