<%= f.error_messages %>

<p>
  <%= f.label :title_short, 'Title' %>
  <%= f.text_field :title_short, :class => 'text_field' %>
</p>
<p>
  <%= f.label :image_file %>
  <%= f.file_field :image_file %>
  <%= f.hidden_field :image_file_temp %>
</p>
<%- if @announcement.has_image? -%>
  <p>
    Current image:
    <%= image_tag(cropped_announcement_image_path(@announcement, '100x100', :jpg), :alt => @announcement.title_short) %>
  </p>
<%- end -%>
<p>
  <%= f.label :body_short, 'Summary' %>
  <%= f.text_area :body_short %>
</p>
<p>
  <%= f.label :title_long, 'Headline' %>
  <%= f.text_field :title_long, :class => 'text_field' %>
</p>
<p>
  <%= f.label :body_long, 'Extended story' %>
  <%= f.text_area :body_long %>
</p>
<p>
  <%= f.label :is_featured, 'Show on homepage' %>
  <%= f.check_box :is_featured, :class => 'check_box' %>
</p>
<p>
  <%= f.label :is_active, 'Active' %>
  <%= f.check_box :is_active, :class => 'check_box' %>
</p>