<%= f.error_messages %>
<p>
  <%= f.label :parent_id %>
  <%= f.collection_select :parent_id, Category.find(:all, :order => 'name asc'), :id, :name, :include_blank => true %>
</p>
<p>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'text_field' %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :is_price_specific %>
  <%= f.check_box :is_price_specific, :class => 'check_box' %>
</p>
<p>
  <%= f.label :starting_price %>
  <%= f.text_field :starting_price, :class => 'text_field' %>
</p>
<p>
  <%= f.label :ending_price %>
  <%= f.text_field :ending_price, :class => 'text_field' %>
</p>