<%= f.error_messages %>
<p>
  <%= f.label :parent_id %><br />
  <%= f.collection_select :parent_id, Category.find(:all, :order => 'name asc'), :id, :name, :include_blank => true %>
</p>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</p>