<%= f.error_messages %>

<p>
  <%= f.label :category_id %><br />
  <%= f.collection_select :category_id, Category.find(:all), :id, :name %>
</p>
<p>
  <%= f.label :image_file %><br />
  <%= f.file_field :image_file %>
  <%= f.hidden_field :image_file_temp %>
</p>
<%- if @product.has_image? -%>
  <p>
    Current image:<br />
    <%= embedded_image_tag(@product.operate { |img| img.resize 100 }) %>
  </p>
<%- end -%>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :scientific_name %><br />
  <%= f.text_field :scientific_name %>
</p>
<p>
  <%= f.label :sku %><br />
  <%= f.text_field :sku %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :comments %><br />
  <%= f.text_area :comments %>
</p>
<p>
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</p>
<p>
  <%= f.label :override %><br />
  <%= f.check_box :override %>
</p>
<p>
  <%= f.label :is_active %><br />
  <%= f.check_box :is_active %>
</p>
<p>
  <%= f.label :is_featured %><br />
  <%= f.check_box :is_featured %>
</p>
<p>
  <%= f.label :caresheet_id %><br />
  <%= f.collection_select :caresheet_id, Caresheet.active, :id, :name, :include_blank => true %>
</p>
<p>
  <%= f.label :post_o_matisize, 'Post-O-Matic' %><br />
  <%= f.check_box :post_o_matisize %>
</p>
<p>
  <%= f.label :post_o_matic_category_id, 'Post-O-Matic category' %><br />
  <%= f.collection_select :post_o_matic_category_id, PostOMaticCategory.find(:all, :order => 'name asc'), :id, :name, :include_blank => true %>
</p>