<tr class="<%= cycle('even','odd') %>">
  <td class="center"><%=h product.categories.map(&:name).join('; ') %></td>
  <td class="center"><%= product.has_image? ? image_tag(product_image_path(product, '100x100', :jpg), :alt => product.name) : 'No image for this product.' %></td>
  <td class="center"><%=h product.name %></td>
  <td class="center"><%=h number_to_currency(product.price) %></td>
  <td class="center"><%=h product.is_active %></td>
  <td class="center"><%=h product.is_featured %></td>
  <td class="center"><%=h product.post_o_matic_postings.posted.count %></td>
  <td class="center"><%=h product.post_o_matic_postings.scheduled.count %></td>
  <td class="center">
    <%= link_to 'Edit', [:edit, :admin, @category, product] %> | 
    <%= link_to 'Destroy', [:admin, @category, product], :confirm => 'Are you sure?', :method => :delete %>
  </td>
</tr>