<h1>Listing products</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Scientific name</th>
    <th>Sku</th>
    <th>Price</th>
    <th>Override</th>
    <th>Is active</th>
    <th>Caresheet</th>
    <th>Is featured</th>
    <th>Current Post-O-Matic postings</th>
    <th>Scheduled Post-O-Matic postings</th>
  </tr>

<% for product in @products %>
  <tr>
    <td><%=h product.category.name %></td>
    <td><%=h product.name %></td>
    <td><%=h product.scientific_name %></td>
    <td><%=h product.sku %></td>
    <td><%=h product.price %></td>
    <td><%=h product.override %></td>
    <td><%=h product.is_active %></td>
    <td><%=h product.caresheet.name if product.caresheet %></td>
    <td><%=h product.is_featured %></td>
    <td><%=h product.post_o_matic_postings.posted.count %></td>
    <td><%=h product.post_o_matic_postings.scheduled.count %></td>
    <td><%= link_to 'Show', [:admin, product] %></td>
    <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
    <td><%= link_to 'Destroy', [:admin, product], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product', new_admin_product_path %>