<p>
  <b>Category:</b>
  <%=h @product.categories.map(&:name).join('; ') %>
</p>

<%- if @product.has_image? -%>
  <p>
    <b>Image:</b><br/>
    <%= image_tag(formatted_admin_product_path(@product, :jpg)) %>
  </p>
<%- end -%>

<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Scientific name:</b>
  <%=h @product.scientific_name %>
</p>

<p>
  <b>Sku:</b>
  <%=h @product.sku %>
</p>

<p>
  <b>Description:</b>
  <%=h @product.description %>
</p>

<p>
  <b>Comments:</b>
  <%=h @product.comments %>
</p>

<p>
  <b>Price:</b>
  <%=h @product.price %>
</p>

<p>
  <b>Override:</b>
  <%=h @product.override %>
</p>

<p>
  <b>Is active:</b>
  <%=h @product.is_active %>
</p>

<p>
  <b>Caresheet:</b>
  <%=h @product.caresheet.name if @product.caresheet %>
</p>

<p>
  <b>Is featured:</b>
  <%=h @product.is_featured %>
</p>


<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>