<%= f.error_messages %>

<p>
  <%= f.label :asset_category_ids, 'Asset Category' %>
  <%= f.collection_select :asset_category_ids, AssetCategory.all, :id, :name %>
</p>

<%- if @image.new_record? -%>
  <%= swfupload_tag(:upload_url => url_for([:swfupload, :admin, @parents, :images])) %>
<%- else -%>
  <p>
    <%= f.label :image_file %>
    <%= f.file_field :image_file %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
<%- end -%>