<h1>Listing images</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Owner type</th>
    <th>Description</th>
    <th>Is active</th>
    <th>Is default</th>
    <th>Position</th>
  </tr>

<% for image in @images %>
  <tr>
    <td><%=h image.owner %></td>
    <td><%=h image.owner_type %></td>
    <td><%=h image.description %></td>
    <td><%=h image.is_active %></td>
    <td><%=h image.is_default %></td>
    <td><%=h image.position %></td>
    <td><%= link_to 'Show', [:admin, image] %></td>
    <td><%= link_to 'Edit', edit_admin_image_path(image) %></td>
    <td><%= link_to 'Destroy', [:admin, image], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New image', new_admin_image_path %>
