<%- @page_title = @product.name -%>
<%- content_for :stylesheets do -%>
<%= stylesheet_link_tag "_product_detail" %>
<%- end -%>
<div class="product">
  <p class="image"><%= link_to(image_tag(product_path(@product, :size => '400x239', :format => :jpg), :alt => @product.name), product_path(@product, :jpg), :rel => 'facebox') %></p>
  <h2><%= @product.name %></h2>
  <p><em><%= @product.scientific_name %></em></p>
  <p class="description">Description:<%= @product.description %></p>
  <p class="price"><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
  <%- form_tag(cart_items_path) do -%>
    <fieldset>
      <%= hidden_field_tag 'quantity', 1 %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <p><%= submit_tag "Add to cart" %></p>
    </fieldset>
  <%- end -%>
</div>