<%- @page_title = @product.name -%>
<%- content_for :stylesheets do -%>
<%= stylesheet_link_tag "_product_detail" %>
<%- end -%>
<div class="product">
  <p class="image"><%= link_to(asset_tag(@product.images.default, :crop => 'Product Images::Main', :resize_to => '400x239', :exact => true, :format => :jpg, :alt => @product.name), asset_path(@product.images.default, :crop => 'Product Images::Main', :format => :png, :resize_to => '800x0'), :rel => 'facebox') %></p>
  <h2><%= @product.name %></h2>
  <p><em><%= @product.scientific_name %></em></p>
  <p class="description"><strong>Description:</strong> <%= @product.description %></p>
  <p class="comments"><strong>Comments/notes:</strong> <%= @product.comments %></p>
  <p class="price"><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
  <%- if @product.caresheet -%>
    <p class="caresheet"><%= link_to('View caresheet', caresheet_path(@product.caresheet)) %></p>
  <%- end -%>
  <%- form_tag(cart_items_path) do -%>
    <fieldset>
      <%= hidden_field_tag 'quantity', 1 %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <p><%= submit_tag "Add to cart" %></p>
    </fieldset>
  <%- end -%>
</div>