<%- @page_title = @product.name -%>
<div class="product">
  <p class="image"><%= link_to(image_tag(product_thumbnail_product_path(@product)), formatted_product_path(@product, :jpg), :rel => 'facebox') %></p>
  <h2><%= @product.name %></h2>
  <p><em><%= @product.scientific_name %></em></p>
  <p class="description">Description:<%= textilize(@product.description) %></p>
  <p class="price"><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
</div>