<p>
  <b>Owner:</b>
  <%=h @image.owner %>
</p>

<p>
  <b>Owner type:</b>
  <%=h @image.owner_type %>
</p>

<p>
  <b>Description:</b>
  <%=h @image.description %>
</p>

<p>
  <b>Is active:</b>
  <%=h @image.is_active %>
</p>

<p>
  <b>Is default:</b>
  <%=h @image.is_default %>
</p>

<p>
  <b>Position:</b>
  <%=h @image.position %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
