<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Prehistoric Pets - <%= @page_title %></title>
  <%= stylesheet_link_tag 'application', 'facebox' %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'jquery','jquery.ui','jquery.tabs','facebox','application' %>
</head>

<body class="<%= controller.controller_name %>">
  <div id="container">
    <div id="header">
      <ul>
        <li class="first"><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About Us', static_path('about') %></li>
        <li><%= link_to 'Contact Us', static_path('contact-us') %></li>
        <li><%= link_to 'Photo Gallery', static_path('photo-gallery') %></li>
        <li id="cart_link"><%= link_to "#{pluralize(@order.product_count, 'item')} in cart", cart_items_path %></li>
      </ul>
    </div>

    <div id="content">
      <div id="left_column">
        <%= render :partial => 'shared/navigation' %>
      </div>
      <div id="right_column">
        <%= yield %>
      </div>
    </div>
  </div>
  <div id="footer">
    <p>&copy; 1996 - <%= Time.now.year %> Prehitoric Pets</p>
    <ul>
      <li><%= link_to 'JurassicParties.com', 'http://www.jurassicparties.com' %></li>
      <li><%= link_to 'Photo Gallery', static_path('photo-gallery') %></li>
      <li><%= link_to 'Terms and Conditions', static_path('terms-and-conditions') %></li>
      <li><%= link_to 'Contact Us', static_path('contact-us') %></li>
    </ul>
  </div>
</body>
</html>